<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layouts/_head') %> 
	</head>
	<body class="news-page">
		<%- include('layouts/_bodystart') %> 
                <div class="section-container" style="padding-top: 5px;">
                    <section class="main__bottom news-section newsin <%= !article && 'not-found'%>">
                        <div class="error404">
                            <h2>არ არის მსგავსი ნიუსი,</h2>
                            <h1>არაააააა!!!</h1>
                        </div>
                        <% if (article) { %>
                            <div class="one-news">
                                <h1><%= article.title %></h1>
                                <p class="one-news__date" 
                                datetime="<%= new Date(article.date).toLocaleString() %>"
                                >დაპოსტვის დრო: <time><%= new Date(article.date).toLocaleString() %></time></p>
                                <div class="one-news__imgbox">
                                    <img src="/uploads/<%= article.image[0].name %>" alt="<%= article.image[0].name %>" >
                                    <!-- <img src="/front/img/1.jpg" alt=""> -->
                                </div>
                                <div class="one-news__textbox"><%-article.textfield %></div>
                            </div>
                        <% } %>
                    </section>
                </div>
            </main>
		</div>
		<%- include('layouts/_bodyend') %> 
